__pycache__/
*.pyc
.vscode
logs/*
!logs/.gitkeep
test*
data/*
!/data/.gitkeep
.DS_Store
init_program.sh
.venv
server_info.py
urls*
config/config.ini
!/data/xray_config/
/data/xray_config/*
!/data/xray_config/*.example
!/data/xray_config/direct.json
!/data/del_old_pcap.sh
!*.example
!/data/*.sh
