servers_info = [
    {
        "hostname": "x.x.x.x",  # 主机IP地址
        "username": "root",  # 主机用户名
        "port": 22,  # 端口号
        "private_key_path": "/home/username/.ssh/id_ed25519",  # 本地私钥地址
        "docker_num": "2",  # 开启docker的数量，一般24美元一个月的vultr服务器开2个docker
        "storage_path": "/root/xray_traffic",  # docker中数据存储路径
        "protocal": "torjan",  # 代理协议
        "proxy_port": "10809",  # 代理端口，如果是direct类型，随便起一个端口
        "site": "jp",  # 代理服务器的物理位置
        "ip_addr": "167.179.94.28",  # 代理服务器的IP地址，如果没有代理服务器，此处随便填
        "time_per_website": "90",  # 每个网站访问多长时间，单位s
        "spider_mode": "xray",  # 爬虫模式
        "scroll": "true",  # 每次访问网站是否滚动
        "scroll_num": 5,  # 每次滚动的最大次数，如果不滚动，此处填0
        "webnum": 1,  # 每个网站访问网页的个数，-1表示无限访问网页，1表示只访问主页
        "multisite_num": 3, # 一次访问中，网站的数量，对应spider_traffic中的multi-site分支
        "xray_name": "vultr5_http.json",  # xray配置文件的名称，配置文件在data/xray_config，如果采用direct模式的话，此处填 direct.json
        "disk": "/dev/vda2",  # 部署服务器存储路径对应的磁盘名称，用于监控空闲空间
        "disable_quic": "true",     # 是否禁用quic
    },
    {
        "hostname": "x.x.x.x",  # 主机IP地址
        "username": "root",  # 主机用户名
        "port": 22,  # 端口号
        "private_key_path": "/home/username/.ssh/id_ed25519",  # 本地私钥地址
        "docker_num": "2",  # 开启docker的数量，一般24美元一个月的vultr服务器开2个docker
        "storage_path": "/root/xray_traffic",  # docker中数据存储路径
        "protocal": "obfs4",  # 代理协议
        "proxy_port": "9050",  # 代理端口，如果是direct类型，随便起一个端口
        "site": "jp",  # 代理服务器的物理位置
        "ip_addr": "167.179.94.28",  # 代理服务器的IP地址，如果没有代理服务器，此处随便填
        "time_per_website": "90",  # 每个网站访问多长时间，单位s
        "spider_mode": "tor",  # 爬虫模式
        "torrc_name": "torrc_tor",  # torrc配置文件的名称
        "scroll": "true",  # 每次访问网站是否滚动
        "scroll_num": 5,  # 每次滚动的最大次数，如果不滚动，此处填0
        "webnum": 1,  # 每个网站访问网页的个数，-1表示无限访问网页，1表示只访问主页
        "multisite_num": 3, # 一次访问中，网站的数量，对应spider_traffic中的multi-site分支
        "disk": "/dev/vda2",  # 部署服务器存储路径对应的磁盘名称，用于监控空闲空间
        "disable_quic": "true",     # 是否禁用quic
    },
    {
        "hostname": "x.x.x.x",  # 主机IP地址
        "username": "root",  # 主机用户名
        "port": 22,  # 端口号
        "private_key_path": "/home/username/.ssh/id_ed25519",  # 本地私钥地址
        "docker_num": "2",  # 开启docker的数量，一般24美元一个月的vultr服务器开2个docker
        "storage_path": "/root/xray_traffic",  # docker中数据存储路径
        "protocal": "http",  # 代理协议
        "proxy_port": "10809",  # 代理端口，如果是direct类型，随便起一个端口
        "site": "jp",  # 代理服务器的物理位置
        "ip_addr": "167.179.94.28",  # 代理服务器的IP地址，如果没有代理服务器，此处随便填
        "time_per_website": "7200",  # 每个网站访问多长时间，单位s
        "spider_mode": "direct",  # 爬虫模式
        "scroll": "true",  # 每次访问网站是否滚动
        "scroll_num": 5,  # 每次滚动的最大次数，如果不滚动，此处填0
        "webnum": 1,  # 每个网站访问网页的个数，-1表示无限访问网页，1表示只访问主页
        "multisite_num": 3, # 一次访问中，网站的数量，对应spider_traffic中的multi-site分支
        "disk": "/dev/vda2",  # 部署服务器存储路径对应的磁盘名称，用于监控空闲空间
        "disable_quic": "true",     # 是否禁用quic
    },
]
